{% extends 'base.html' %}
{% block content %}

<div class="org">
    <div class="col-md-4 rounded shadow-lg bg-body">
        <h1 style="color: orange;">Cadastro de Anúncios</h1>
        <form action="" method="POST" id="publicar_anuncio" class="form">
            {% csrf_token %}
            <div class="form-group">
                 <label for="id_anuncio">Código do Anúncio</label>   
                <input type="number" name="id_anuncio" id="id_anuncio" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id_imovel">Código do Imóvel</label>   
                <input type="number" name="id_imovel" id="id_imovel" class="form-control">
           </div>
           <div class="form-group">
                <label for="plataforma_anuncio">Nome da Plataforma de Anúncio</label>   
                <input type="text" name="plataforma_anuncio" id="plataforma_anuncio" class="form-control" required>
    
           </div>
            <div class="form-group">
                <label for="taxa_plataforma">Taxa da Plataforma</label>   
                <input type="number" step="0.01" name="taxa_plataforma" id="taxa_plataforma" class="form-control" required>
            </div>
           
        <div class="ml-5">
            <input type="submit" value="Cadastrar" class="btn btn-primary mb-2">
            <a href="/anuncios/" class="btn btn-warning mb-2">Voltar</a>
        </div>
        </form>
    </div>

</div>




<script>
    // $(document).ready(()=>{
    //     const data = new Date;
    //     let hoje = data.getFullYear()  + '-' + (data.getMonth() + 1)  + '-' + data.getDate();
    //     $('#data_criacao').val(`${hoje}`)
    //     $('#data_atualizacao').val(`${hoje}`)
    // });

    $('#publicar_anuncio').on('submit', function(e) { 
            e.preventDefault();  

            let Url = "http://127.0.0.1:8000/api-cadastro_anuncio/";

        $.ajax({
            type : 'POST',
            url : Url,
            data : $("#publicar_anuncio :input").serializeArray(),
            dataType: "json",
            success: function(data){
                alert("Sucesso!");
                location.href= 'http://127.0.0.1:8000/anuncios/';
            },
            error:function(data){
                alert("Erro não foi adicionado!");
                console.log(data)
                // location.reload();
            }
        });
    });


</script>
{% endblock %}
